In [82]:
import pandas as pd
import numpy as np

In [85]:
samples.columns

Index(['sgd.id', 'sgd.date', 'importer.id', 'declarant.id', 'country',
       'office.id', 'tariff.code', 'quantity', 'gross.weight', 'fob.value',
       'cif.value', 'total.taxes', 'illicit', 'revenue'],
      dtype='object')

In [88]:
samples.columns

Index(['year', 'month', 'day', 'OFFICE', 'IMPORTER.TIN', 'TARIFF.CODE',
       'DECLARANT.CODE', 'ORIGIN.CODE', 'CIF_USD_EQUIVALENT', 'QUANTITY',
       'GROSS.WEIGHT', 'TOTAL.TAXES.USD', 'RAISED_TAX_AMOUNT_USD', 'illicit'],
      dtype='object')

In [86]:
### This data is a synthetic data generated by GAN model
samples = pd.read_csv('synthetic-imports-declarations.csv')

In [87]:
samples

,year,month,day,OFFICE,IMPORTER.TIN,TARIFF.CODE,DECLARANT.CODE,ORIGIN.CODE,CIF_USD_EQUIVALENT,QUANTITY,GROSS.WEIGHT,TOTAL.TAXES.USD,RAISED_TAX_AMOUNT_USD,illicit
0,2014,7,22,OFFICE92,IMP826164,8703241128,DEC3207,CNTRY680,2809.0,1581.0,26494.0,647.0,-0.0,0
1,2014,4,21,OFFICE51,IMP837219,8703232926,DEC1525,CNTRY680,266140.0,1.0,3910.0,3262.0,-0.0,0
2,2013,2,29,OFFICE59,IMP117406,8517180000,DEC4146,CNTRY680,302275.0,1.0,699231.0,5612.0,-0.0,0
3,2013,7,17,OFFICE51,IMP435108,8703222900,DEC4242,CNTRY376,4160.0,1288.0,22958.0,514.0,0.0,0
4,2014,1,9,OFFICE92,IMP717900,8545200000,DEC6324,CNTRY454,239549.0,42.0,21248.0,397.0,980.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2014,10,12,OFFICE40,IMP435297,8703222900,DEC4557,CNTRY376,2621.0,18533.0,37558.0,2731.0,-0.0,0
99996,2014,8,20,OFFICE60,IMP591216,8517180000,DEC1174,CNTRY759,2226.0,1.0,1821.0,3355.0,-0.0,0
99997,2013,6,3,OFFICE87,IMP398817,3911900000,DEC6384,CNTRY881,35214.0,2837.0,8679.0,2445.0,-0.0,0
99998,2013,12,3,OFFICE51,IMP418859,8703231119,DEC6689,CNTRY759,4480.0,461.0,41359.0,546.0,-0.0,0
99999,2013,10,5,OFFICE51,IMP456549,8702101319,DEC7180,CNTRY680,10495.0,5.0,1693.0,468.0,0.0,0

In [ ]:
### Now we change it to fit the format described in our paper.

In [8]:
samples['sgd.id'] = list(range(1,100001))
samples['sgd.id'] = 'SGD'+samples['sgd.id'].astype(str)

In [9]:
# Refer to original data to generate some auxiliary columns
df = pd.read_csv("../../../Sharedfolder/Ndata.merged.anonymized.single.relabeled.csv", encoding="ISO-8859-1")

In [10]:
df = df.sample(100000)

In [11]:
df.columns

Index(['YEAR', 'OFFICE', 'SGD.NUMBER', 'SGD.DATE', 'RECEIPT.NUMBER',
       'RECEIPT.DATE', 'IMPORTER.TIN', 'DECLARANT.CODE', 'FOB.VALUE',
       'CIF.VALUE', 'TARIFF.CODE', 'TARIFF.DESCRIPTION', 'QUANTITY',
       'TOTAL.TAXES', 'GROSS.WEIGHT', 'INSPECTION.INFORMATION',
       'SELECTIVITY.LANE', 'EXCHANGERATE', 'CIF_USD_EQUIVALENT', 'illicit',
       'ISO3', 'RAISED_TAX_AMOUNT'],
      dtype='object')

In [12]:
samples['importer.id'] = list(df['IMPORTER.TIN'])
samples['declarant.id'] = list(df['DECLARANT.CODE'])

In [13]:
samples['country'] = samples['ORIGIN.CODE']
del samples['ORIGIN.CODE']

In [14]:
samples['revenue'] = samples['RAISED_TAX_AMOUNT.USD']
del samples['RAISED_TAX_AMOUNT.USD']

In [15]:
samples['total.taxes'] = samples['TOTAL.TAXES.USD']
del samples['TOTAL.TAXES.USD']

In [17]:
samples['gross.weight'] = samples['GROSS.WEIGHT']
samples['cif.value'] = samples['CIF_USD_EQUIVALENT']

In [57]:
from numpy import random
samples['fob.value'] = samples['cif.value'].apply(lambda x: x * min(random.normal(loc=0.8, scale=0.1), 1))

In [59]:
del samples['CIF_USD_EQUIVALENT']

In [61]:
samples['tariff.code'] = samples['TARIFF.CODE']
samples['quantity'] = samples['QUANTITY']
samples['gross.weight'] = samples['GROSS.WEIGHT']
samples['office.id'] = samples['OFFICE']

del samples['TARIFF.CODE']
del samples['QUANTITY']
del samples['GROSS.WEIGHT']
del samples['OFFICE']

In [66]:
samples['sgd.date'] = list(df['SGD.DATE'].sort_values())

In [68]:
samples = samples[['sgd.id','sgd.date','importer.id','declarant.id','country','office.id','tariff.code','quantity','gross.weight','fob.value','cif.value','total.taxes','illicit','revenue']]

In [69]:
samples

,sgd.id,sgd.date,importer.id,declarant.id,country,office.id,tariff.code,quantity,gross.weight,fob.value,cif.value,total.taxes,illicit,revenue
0,SGD1,13-01-02,IMP56598,DEC575763,CNTRY376,OFFICE76,8703232926,1,96.305598,1530.677349,1943.388289,468.218151,0,0
1,SGD2,13-01-02,IMP109304,DEC741690,CNTRY653,OFFICE51,2710193100,16784,343358.358598,31334.583459,39097.784585,94337.473500,0,0
2,SGD3,13-01-02,IMP383355,DEC965340,CNTRY680,OFFICE92,6214300000,656,40675.081867,76655.504238,93224.773942,10825.920639,0,0
3,SGD4,13-01-02,IMP512685,DEC244789,CNTRY759,OFFICE59,8703222900,1,24965.116673,4526.575412,5160.500757,758.079630,0,0
4,SGD5,13-01-02,IMP128176,DEC557967,CNTRY528,OFFICE51,3507900000,17655,150957.306315,62715.993325,81152.409190,30518.286546,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,SGD99996,17-12-29,IMP55225,DEC82529,CNTRY277,OFFICE51,8464900000,126,336806.197108,58149.450889,61176.407534,3820.754635,0,0
99996,SGD99997,17-12-29,IMP870848,DEC987092,CNTRY759,OFFICE60,8703232926,1,43.969601,944.709093,1068.969969,925.896409,0,0
99997,SGD99998,17-12-29,IMP244819,DEC384964,CNTRY825,OFFICE45,8481900000,1,32.224977,654.653750,799.860297,408.178992,0,0
99998,SGD99999,17-12-29,IMP403260,DEC208457,CNTRY759,OFFICE60,8703232926,1,198.555892,636.726134,887.735852,61.509931,0,0
99999,SGD100000,17-12-31,IMP821186,DEC89609,CNTRY680,OFFICE23,3206492000,1729,138504.052337,3687.313577,5287.852907,2713.393401,0,0

In [74]:
samples.ix[30]

/home/sundong/anaconda3/envs/py37/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

sgd.id               SGD31
sgd.date          13-01-02
importer.id      IMP239001
declarant.id     DEC601981
country           CNTRY680
office.id         OFFICE51
tariff.code     9305296000
quantity              1277
gross.weight        347617
fob.value          13633.7
cif.value          20894.2
total.taxes        2707.17
illicit                  1
revenue               1302
Name: 30, dtype: object

In [71]:
samples.to_csv('synthetic-imports-declarations.csv', index=False)